.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .login {
        border: none;
        box-shadow: none;
        height: 50px;
        width: 200px;
        border-radius: 10px;
        background-color: rgb(28, 199, 28);
        color: black;
        font-size: 15px;
        font-weight: bold;
    }
}